In [145]:
# imports
import requests
from bs4 import BeautifulSoup
import pandas as pd
import math

In [146]:
# get html
response = requests.get('https://worldpopulationreview.com/countries/countries-by-gdp')

#print status code
print('Status code:', response.status_code, end= '\n')

Status code: 200

In [147]:
#Create soup object
html = response.content
html = BeautifulSoup(html, 'html.parser') 

# display markup 
#html.prettify()

# selecting element
gdp_data_table = html.find(name='table', attrs={'class' : 'jsx-364991517 table is-striped is-hoverable is-fullwidth tp-table-body is-narrow'})
gdp_data_row = gdp_data_table.find(name='tbody', attrs={'class':'jsx-364991517'}).find_all(name = 'tr')

#print html
# gdp_data_row

In [148]:
# creates empty list
gdp_datapoints = list()

#Extract data
for row in gdp_data_row:
    data = row.find_all('td')

    data = [td.contents[0] if len(td.contents) == 1 else '-' for td in data] 
    data[1] = data[1].contents[0]
        
    country, gdp_imf_20, gdp_un_16, gdp_per_capita, population = data[1:]

    gdp_data = {
        "country" : country,
        "gdp(imf '20)" : gdp_imf_20,
        "gdp per capita" : gdp_per_capita,
        "population" : population
    } 

    gdp_datapoints.append(gdp_data)


# print(gdp_datapoints)

In [149]:
# create dataframe
df_gdp = pd.DataFrame(gdp_datapoints)
df_gdp.index = df_gdp.index + 1

# #drop rows with NAN values
# df_gdp = df_gdp.apply(pd.to_numeric, errors='coerce')
# df_gdp = df_gdp.dropna()
df_gdp

                      country gdp(imf '20) gdp per capita     population
1               United States     20.89 Tn        $61,763    338,289,857
2                       China     14.86 Tn        $10,423  1,425,887,337
3                       Japan      5.04 Tn        $40,662    123,951,692
4                     Germany      3.84 Tn        $46,100     83,369,843
5              United Kingdom      2.76 Tn        $40,867     67,508,936
..                        ...          ...            ...            ...
208             New Caledonia            -        $32,577        289,950
209                  Anguilla            -        $21,285         15,857
210                     Sudan            -         $1,768     46,874,204
211                     Syria            -         $1,002     22,125,249
212  Turks and Caicos Islands            -        $20,076         45,703

[212 rows x 4 columns]

In [150]:
#get columns
columns = list()
for column in df_gdp:
    columns.append(column)

print(columns)

['country', "gdp(imf '20)", 'gdp per capita', 'population']

In [151]:
#transform_figures
def transform_figures(value):
    if value != '-':
        split_text = value.split()
        if split_text[1] == 'Tn':
            value = float(split_text[0]) * 1000000000000
            f_value = "${:,.0f}".format(value)
            return f_value
        elif split_text[1] == 'Bn':
            value = float(split_text[0]) * 1000000000
            f_value = "${:,.0f}".format(value)
            return f_value
        elif split_text[1] == 'Mn':
            f_value = '$' + str(value)
            return f_value

    else:
        return '-'
        
        

df_gdp[columns[1]] = df_gdp[columns[1]].apply(transform_figures)

In [155]:
df_gdp.head(30)

           country         gdp(imf '20) gdp per capita     population
1    United States  $20,890,000,000,000        $61,763    338,289,857
2            China  $14,860,000,000,000        $10,423  1,425,887,337
3            Japan   $5,040,000,000,000        $40,662    123,951,692
4          Germany   $3,840,000,000,000        $46,100     83,369,843
5   United Kingdom   $2,760,000,000,000        $40,867     67,508,936
6            India   $2,670,000,000,000         $1,882  1,417,173,173
7           France   $2,620,000,000,000        $40,571     64,626,628
8            Italy   $1,890,000,000,000        $32,031     59,037,474
9           Canada   $1,650,000,000,000        $42,789     38,454,327
10     South Korea   $1,640,000,000,000        $31,617     51,815,810
11          Russia   $1,480,000,000,000        $10,250    144,713,314
12          Brazil   $1,450,000,000,000         $6,728    215,313,498
13       Australia   $1,360,000,000,000        $51,851     26,177,413
14           Spain   $1,280,000,000,000        $26,924     47,558,630
15          Mexico   $1,090,000,000,000         $8,526    127,504,125
16       Indonesia   $1,060,000,000,000         $3,847    275,501,339
17            Iran     $938,050,000,000        $10,593     88,550,570
18     Netherlands     $913,130,000,000        $51,989     17,564,014
19     Switzerland     $751,740,000,000        $86,007      8,740,472
20          Turkey     $719,920,000,000         $8,436     85,341,241
21    Saudi Arabia     $703,370,000,000        $19,319     36,408,820
22          Taiwan     $669,250,000,000        $28,010     23,893,394
23          Poland     $596,630,000,000        $14,969     39,857,145
24          Sweden     $541,490,000,000        $51,329     10,549,347
25         Belgium     $521,450,000,000        $44,736     11,655,930
26        Thailand     $500,290,000,000         $6,978     71,697,030
27         Austria     $432,910,000,000        $48,426      8,939,617
28         Nigeria     $429,420,000,000         $1,965    218,541,212
29         Ireland     $425,550,000,000        $84,718      5,023,109
30          Israel     $407,100,000,000        $45,042      9,038,309